.article {
    margin: 100px auto;
    border: 5px solid black;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
    
    transition: all 0.2s cubic-bezier(0.12, 0.13, 0.14, 0.15);
    background-color: white;

    padding: 40px;
}

.titre {
    width: 30%;
    height: auto;
    font-size: 22px;
    font-weight: bold;
    float: left;
    margin: 30px 50px;
}

.contenu {
    margin: 20px 30px;
    font-size: 12px;
}